body {
  font-family: "Open Sans", sans-serif;
  background: #000;
  color: #fafafa;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

div {
  margin: auto;
}

h1 {
  font-size: 1.17em;
}

@media (max-width: 425px) {
  h1 {
    font-size: 0.83em;
  }
}
